<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" [routerLink]="['/']">conduit</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" *appShowAuth="false">
          <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive='active' *appShowAuth="false">
            <a class="nav-link" routerLink="/signin">SignIn</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink="/signup">SignUp</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *appShowAuth="true">
          <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink="/editor">
              <i class="fa fa-edit"> New Post</i>
            </a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link" routerLink="/setting">
              <i class="fa fa-cog"> Setting</i>
            </a>
          </li>
          <li class="nav-item" routerLinkActive='active'>
            <a class="nav-link disabled" routerLink="/profile">{{user.username}}</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>