.navbar-brand {
    color: #5CB85C;
    font-weight: 700;
    font-size: 1.5rem;
    &:hover, &:active, &:focus {
        color: #5CB85C;
    }
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.ml-auto .dropdown-menu {
    left: auto;
    right: 0px;
}
// i {
//     font-family: '"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"'
// }