<div class="article-preview">
  <app-article-info [article]="article">
    <app-favorite-button [article]="article" (toggle)="toggleFavorite($event)">
    </app-favorite-button>
  </app-article-info>
  <a class="article-content" routerLink="['/article', article.slug]">
    <h3>{{article.title}}</h3>
    <p>{{article.description}}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">
        {{ tag }}
      </li>
    </ul>
  </a>
</div>