<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xs-12 offset-md-1">
        <img src="https://znews-photo-td.zadn.vn/w1024/Uploaded/bpivpjbp/2018_06_18/35226833_1437852256359941_4823004834661662720_o.jpg"
          alt="" class="user-img">
        <h4>cOmeOnbabie</h4>
        <p> Đức </p>
        <a routerLink="/setting" class="btn btn-sm btn-outline-info action-btn">
          <i class="fa fa-cog"> Edit Profile</i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container content">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 offset-md-1">
      <div>
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': c.type === 'feed'}" (click)="setList('feed')">
                Your Feed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}" (click)="setList('all')">
                Global Feed
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>  -->