<div class="user-info">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xs-12 offset-md-1">
        <img src="https://znews-photo-td.zadn.vn/w1024/Uploaded/bpivpjbp/2018_06_18/35226833_1437852256359941_4823004834661662720_o.jpg"
          alt="" class="user-img">
        <h4>cOmeOnbabie</h4>
        <p> Đức </p>
        <a routerLink="/setting" class="btn btn-sm btn-outline-info action-btn">
          <i class="fa fa-cog"> Edit Profile</i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 offset-md-1">
      <div>
        <tabset>
          <tab title="Your Feed">
            <div class="article-preview" *ngFor="let article of articlesList">
              <div class="article-info">
                <a href="#" class="avatar">
                  <img src="{{article.author.image}}" alt="">
                </a>
                <div class="info">
                  <a href="" class="author">{{article.author.username}}</a>
                  <span class="date">{{article.updatedAt | date: 'fullDate'}}</span>
                </div>
                <div class="like float-right">
                  <button class="btn btn-sm btn-outline-success" [class.active]='article.favorited === true'>
                    <i class="fa fa-heart"> {{article.favoritesCount}}</i>
                  </button>
                </div>
              </div>
              <a class="article-content" href="">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <span>Read more...</span>
              </a>
            </div>
          </tab>
          <tab title="Global Feed">
            <div class="article-preview" *ngFor="let article of articlesList">
              <div class="article-info">
                <a href="#" class="avatar">
                  <img src="{{article.author.image}}" alt="">
                </a>
                <div class="info">
                  <a href="" class="author">{{article.author.username}}</a>
                  <span class="date">{{article.updatedAt | date: 'fullDate'}}</span>
                </div>
                <div class="like float-right">
                  <button class="btn btn-sm btn-outline-success" [class.active]='article.favorited === true'>
                    <i class="fa fa-heart"> {{article.favoritesCount}}</i>
                  </button>
                </div>
              </div>
              <a class="article-content" href="">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <span>Read more...</span>
              </a>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>