$black: #000;
$white: #fff;
$white-1:#f3f3f3;
$grey: #c0c0c0;
$grey-1: #818a91;
$grey-2: #687077;
.banner {
    padding: 25px 0;
    background-color: #5CB85C;
    color: $white;
    .logo {
        font-size: 3rem;
        font-weight: 700;
    }
    p {
        font-size: 1.5rem;
    }
}

.content {
    margin-top: 1.5rem;
}

.article-preview {
    padding: 1.5rem 0;
    border-bottom: 1px solid $grey;
}

.article-info {
    display: block;
    .info {
        display: inline-block;
        vertical-align: middle;
        font-size: 0.8rem;
        margin-left: 0.5rem;
        .date,
        .author {
            display: block;
            color: $black;
            &:hover {
                text-decoration: inherit;
            }
        }
    }
    .avatar>img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
        border-radius: 30px;
    }
    .active {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }
}

.article-content {
    color: $black;
    &:hover {
        text-decoration: inherit;
    }
}

.sidebar {
    background-color: $white-1;
    padding: 0.5rem 0.5rem;
    .tag {
        background-color: $grey-1;
        font-size: 0.8rem;
        color: $white;
        display: inline-block;
        margin: 0.2rem 0.2rem;
        padding: 0rem 0.3rem;
        border-radius: 0.8rem;
        &:focus, &:hover, &:visited, &:active {
            background-color: $grey-2;
            text-decoration: underline;
        }
    }
}