<div class="home-page">
  <div class="banner">
    <div class="container text-center">
      <h1 class="logo">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <app-tabs>
        <app-tab [tabTitle]="'Global Feed'">
          <h1>zczxc</h1>
          <div class="article-preview">
            <div class="article-info">
              <a href="#" class="avatar">
                <img src="https://static.productionready.io/images/smiley-cyrus.jpg" alt="">
              </a>
              <div class="info">
                <a href="" class="author">Duc.Vuong</a>
                <span class="date">Thu Jun 14 2018</span>
              </div>
            </div>
          </div>
        </app-tab>
        <!-- <app-tab tabTitle="Tab 2">Tab 2 Content</app-tab> -->
      </app-tabs>
    </div>
    
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      TAGS
    </div>
    
  </div>
</div>