<div class="home-page" *appShowAuth="false">
  <div class="banner">
    <div class="container text-center">
      <h1 class="logo">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div class="feed-toggle">
        <ul class="nav nav-pills outline-active">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': listConfig.type === 'feed'}" (click)="setList('feed')">
              Your Feed
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}" (click)="setList('all')">
              Global Feed
            </a>
          </li>
          <li class="nav-item" [hidden]="!listConfig.filters.tag">
            <a class="nav-link active">
              <i class="ion-pound"></i># {{ listConfig.filters.tag }}
            </a>
          </li>
        </ul>
      </div>

      <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="sidebar">
        <p>Popular Tag</p>
        <div class="tags-list">
          <a class="tag" *ngFor="let tag of tags" (click)="setList('all', {tag: tag})">{{tag}}</a>
        </div>
      </div>
    </div>
  </div>
</div>