<div class="home-page" *appShowAuth="false">
  <div class="banner">
    <div class="container text-center">
      <h1 class="logo">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
      <div>
        <tabset>
          <tab title="Your Feed">
            <div class="article-preview" *ngFor="let article of articlesList">
              <div class="article-info">
                <a href="#" class="avatar">
                  <img src="{{article.author.image}}" alt="">
                </a>
                <div class="info">
                  <a href="" class="author">{{article.author.username}}</a>
                  <span class="date">{{article.updatedAt | date: 'fullDate'}}</span>
                </div>
                <div class="like float-right">
                  <button class="btn btn-sm btn-outline-success" [class.active]='article.favorited === true'>
                    <i class="fa fa-heart"> {{article.favoritesCount}}</i>
                  </button>
                </div>
              </div>
              <a class="article-content" href="">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <span>Read more...</span>
              </a>
            </div>
          </tab>
          <tab title="Global Feed">
            <div class="article-preview" *ngFor="let article of articlesList">
              <div class="article-info">
                <a href="#" class="avatar">
                  <img src="{{article.author.image}}" alt="">
                </a>
                <div class="info">
                  <a href="" class="author">{{article.author.username}}</a>
                  <span class="date">{{article.updatedAt | date: 'fullDate'}}</span>
                </div>
                <div class="like float-right">
                  <button class="btn btn-sm btn-outline-success" [class.active]='article.favorited === true'>
                    <i class="fa fa-heart"> {{article.favoritesCount}}</i>
                  </button>
                </div>
              </div>
              <a class="article-content" href="">
                <h3>{{article.title}}</h3>
                <p>{{article.description}}</p>
                <span>Read more...</span>
              </a>
            </div>
          </tab>
          <tab title="Tag">
            Tag
          </tab>
        </tabset>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div class="sidebar">
        <p>Popular Tag</p>
        <div class="tags-list">
          <a class="tag" *ngFor="let tag of tags">{{tag}}</a>
        </div>
      </div>
    </div>
  </div>
</div>