$green-1:#5CB85C;
.pagination {
    display: inline;
    padding-bottom: 1.5rem;
}

li.page-item {
    float: left;
    display: block;
}

.page-item.active .page-link {
    background-color: $green-1;
    border-color: $green-1;
}